.App {
  display: flex;
  justify-content: center;
}
.container{
  margin-top: 200px;
}
.wrapper{
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}
.cell{
  width: 100px;
  height: 100px;
  background-color: fuchsia;
  cursor: pointer;
}

