.App {
  display: flex;
  justify-content: center;
}
.container{
  margin-top: 200px;
}
.wrapper{
  width: 640px;
  display: flex;
  flex-wrap: wrap;
}
.cell{
  width: 100px;
  height: 100px;
  cursor: pointer;
  background-color: fuchsia;
  border: 1px solid black;
  color: transparent;
}
.cell-open{
  color: black;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  cursor: pointer;
  background-color: antiquewhite;
}

